version: '3.8'

services:
  backend:
    build:
      context: ./backend
    ports:
      - "8000:8000"
    volumes:
      - ./backend/sql_app.db:/app/sql_app.db
    env_file:
      - ./backend/.env
    depends_on:
      - db               # MySQL이 먼저 올라오도록 설정

  db:
    image: mysql:8
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: qwer5377~  # Backend 비밀번호와 일치시킴 (1234 -> qwer5377~)
      MYSQL_DATABASE: stacknote
    ports:
      - "3307:3306"
    volumes:
      - db_data:/var/lib/mysql

volumes:
  db_data: